<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('./partials/head.ejs')%>
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Edoc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class = 'collapse navbar-collapse' id = 'navbarContent'>
            <div class = 'navbar-nav'>
                <a class = 'nav-item nav-link active' href = '/homePage'>Newsfeed</a>
                <a class = 'nav-item nav-link' href = '/profile'>Profile</a>
                <a class = 'nav-item nav-link' href = '/settings'>Settings</a>
                <a class = 'nav-item nav-link' href = '/'>Sign Out</a>
            </div>
        </div>
    </nav>
    <div class = 'container'>
        <img src = 'https://thumbs.dreamstime.com/b/horizontal-banner-hands-typing-laptop-keyboard-various-electronic-devices-symbols-programming-software-horizontal-125917922.jpg'>
        <div class = 'row justify-content-center'
            <div class = 'col'>
                <h5>Newsfeed</h5>
            </div>
            <div class = 'row justify-content-center'>
                <div class = 'row'>
                    <a href = './post'>New Post</a>
                </div>
            </div>
            <div class = 'col'>
                <ul class = 'list-unstyled'>
                    <%for (i = 0; i < post.length; i++){%>
                        <li>
                            <p class = 'postp'><%=post[i].date%></p>
                            <p class = 'postp'><%=post[i].post%></p>
                            <a class = 'editp' href = './<%=post[i]._id%>/editPost'>Edit</a>
                            <form class = 'deletep' action = '/<%=post[i]._id%>?_method=DELETE' method = 'POST'>
                                <input type = 'submit' value = 'Delete'>
                            </form>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
    <%-include ('./partials/bootstrap.ejs')%>
</body>
</html>